{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Students</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Students</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'printAllStudent' %}" target="_blank" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="{% url 'add_student' %}" target="_blank" class="btn btn-primary"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
   {% include 'common/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0 ">
                     <thead>
                        <tr>
                          
                           <th>Name</th>   
                           <th>Roll</th>                                                                          
                           <th>Gender</th>                           
                           <th>Session Year</th>
                           <th>Class</th>
                           <th>Section</th>
                           <th>Faculty</th>
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for student in students %}
                        <tr>                           
                           
                         
                           <td>
                              <h2 class="table-avatar">
                                 <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src= "{% static  student.admin.profile_pic %}"alt="User Image"></a>
                                 <a >{{student.admin.first_name}}&nbsp;{{student.admin.last_name}}</a>
                              </h2>
                           </td>
                           <td>{{student.student_roll}}</td>            
                           <td>{{student.gender}}</td>
                           
                           <td>{{student.session_year_id.session_start}} To {{student.session_year_id.session_end}}</td>
                           <td>{{student.student_class.name}}</td>
                           <td>{{student.student_class.assigned_section.name}}  </td>
                           <td>{{student.student_class.assigned_faculty.admin.first_name}} &nbsp;{{student.student_class.assigned_faculty.admin.last_name}} </td>
                           
                           <td class="text-right">
                              
<div class="actions">
   <a href="{% url 'edit_student' student.id %}" class="btn btn-sm bg-success-light mr-2">
   <i class="fas fa-pen"></i>
   </a>
   <a href="{% url 'delete_student' student.admin.id %}" class="btn btn-sm bg-danger-light">      
   <i class="fas fa-trash"></i>
   </a>
</div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}