{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Students</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Students</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'printAllStudent' %}" target="_blank" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="{% url 'add_student' %}" target="_blank" class="btn btn-primary"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
   {% include 'common/messages.html' %}

  
      
          <legend>Student Search</legend>
          <div class="row">       
        
       
            <div class="col-sm-6">
               <div class="card card-table">
                  <div class="card-body">
                     <select class="form-control" name="class_id" required>
                        <option>Select Class</option>
                         {% for i in student_class %}
                         {% if current_class == i.id %}
                         <option value="{{i.id}}" selected> Class -  {{ i.name  }}   Section -   {{ i.assigned_section.name }} - Faculty- {{ i.assigned_faculty.admin.first_name}}</option>
                         {% else %}
                         <option value="{{i.id}}" > Class -  {{ i.name  }}   Section -   {{ i.assigned_section.name }} - Faculty- {{ i.assigned_faculty.admin.first_name}}</option>
                         {% endif %}
                         {% endfor %}
                     </select>
              </div>
      
               </div>
            </div>
            <div class="col-sm-6">
               <div class="card card-table">
                  <div class="card-body">
            <select class="form-control" name="gender_id" required>
               <option>Select Gender</option>
               {% for i in gender %}               
                
               <option value="{{i.id}}" >{{i.name}}</option>
               
                {% endfor %}                      
            </select>
                  </div>
               </div>
          </div>
         </div>
         <div class="row d-flex justify-content-center" >
            
         <button class="btn btn-sm btn-primary rounded-0 bg-gradient mb-3" ><i class="fa fa-save"></i> Search</button>
      
      
      </div>
 
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0 ">
                     <thead>
                        <tr>                          
                           <th>Name</th>   
                           <th>Roll</th>                                                                          
                           <th>Gender</th>                           
                           <th>Session Year</th>
                           <th>Class</th>
                           <th>Section</th>
                           <th>Faculty</th>
                           <th class="text-right">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for student in students %}
                        <tr>                           
                           
                         
                           <td>
                              <h2 class="table-avatar">
                                 <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src= "{% static  student.admin.profile_pic %}" ></a>
                                 <a >{{student.admin.first_name}}&nbsp;{{student.admin.last_name}}</a>
                              </h2>
                           </td>
                           <td>{{student.student_roll}}</td>            
                           <td>{{student.gender}}</td>
                           
                           <td>{{student.session_year_id.session_start}} To {{student.session_year_id.session_end}}</td>
                           <td>{{student.student_class.name}}</td>
                           <td>{{student.student_class.assigned_section.name}}  </td>
                           <td>{{student.student_class.assigned_faculty.admin.first_name}} &nbsp;{{student.student_class.assigned_faculty.admin.last_name}} </td>
                           
                           <td class="text-right">
                              
<div class="actions">
   <a href="{% url 'edit_student' student.id %}" class="btn btn-sm bg-success-light mr-2">
   <i class="fas fa-pen"></i>
   </a>
   <a class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#exampleModal">      
   <i class="fas fa-trash"></i>
   </a>
 
</div>
                           </td>
                        </tr>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                               </div>
                               <div class="modal-body">
                                 Are you Sure ?
                               </div>
                               <div class="modal-footer">                                                           
                                 <a class="btn btn-secondary" data-dismiss="modal" >No</a>
                                 <a class="btn btn-primary" href="{% url 'delete_student' student.admin.id %}">Yes</a>
                               </div>
                             </div>
                           </div>
                         </div>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}