{% extends 'base/base.html' %} {% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Class Attendance Management</h4>
                <div class="tools">
                </div>
            </div>
        </div>
        <div class="card-body">
            <form  method="post" action="{% url 'save-attendance' %}" >
                {% csrf_token %}
                <input type="hidden" name="classIns" value="{{ class.pk }}">
                <div class="container-fluid">
                    <fieldset>
                        <legend>Class Details</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="d-flex w-100">
                                    <div class="col-auto pe-2 text-muted">Section:</div>
                                    <div class="col-auto flex-shrink-1 flex-grow-1">
                                        <input type="hidden" name="sectionID" value="{{ class.assigned_section.id }}">
                                        <p class="m-0 fw-bold">{{ class.assigned_section.name }} </p>
                                    </div>
                                </div>
                            </div>
                      
                     
                            <div class="col-md-6">
                                <div class="d-flex w-100">
                                    <div class="col-auto pe-2 text-muted">Class:</div>
                                    <div class="col-auto flex-shrink-1 flex-grow-1">
                                        <p class="m-0 fw-bold">{{ class.name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex w-100">
                                    <div class="col-auto pe-2 text-muted">Faculty:</div>
                                    <div class="col-auto flex-shrink-1 flex-grow-1">
                                        <input type="hidden" name="staffID" value="{{ class.assigned_faculty.id }}">
                                        <p class="m-0 fw-bold">{{ class.assigned_faculty.admin.first_name }} {{ class.assigned_faculty.admin.last_name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="d-flex w-100">
                                    <div class="col-auto pe-2 text-muted">Date :</div>
                                    <div class="col-auto flex-shrink-1 flex-grow-1">
                                        <input type="date"  name="attendance_date"  value="{% if date %}{{ date }}{% endif %}"  required>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="d-flex w-100">
                                    <div class="col-auto pe-2 text-muted">Date :</div>
                                    <div class="col-auto flex-shrink-1 flex-grow-1">
                                        
                                        <a  name="attendance_download" target="_blank" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr>             
                    {% if date %}
                    <fieldset>
                        <legend>Attendance List</legend>
                        <table class="table tables-bordered" id="student-list">
                            <colgroup>
                                <col width="5%">
                                <col width="25%">
                                <col width="25%">
                                <col width="15%">
                                <col width="15%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-ceter">SL # </th>
                                    <th class="text-ceter">Student Roll</th>
                                    <th class="text-ceter">Student Name</th>
                                    <th class="text-ceter"> Present</th>
                                    <th class="text-ceter"> Late</th>
                                    <th class="text-ceter"> Absent</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in att_data %} 
                                <tr class="">
                                    <td class="text-center"> {{ forloop.counter }}</td>
                                    <td>{{ student.data.student_roll }}</td>
                                    <td>{{ student.data.admin.first_name }}  {{ student.data.admin.last_name }}</td>
                                    <td class="text-center">
                                        <input type="hidden" name="student[]" value="{{ student.data.pk }}">
                                        <input type="radio"  name="type[{{ student.data.pk }}]" value="1" id="btnradio-{{student.data.pk}}"   {% if student.type == '1' %} checked="checked" {% endif %} required>
                                        
                                    </td>
                                    <td class="text-center">
                                        <input type="radio"  name="type[{{ student.data.pk }}]" value="2" id="btnradio-2-{{ student.data.pk }}"  {% if student.type == '2' %} checked="checked" {% endif %}  >
                                        
                                    </td>
                                    <td class="text-center">
                                        <input type="radio"  name="type[{{ student.data.pk }}]" value="3" id="btnradio-3-{{ student.data.pk }}"  {% if student.type == '3' %} checked="checked" {% endif %}>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="clear-fix py-3"></div>
                        <center>
                            <button class="btn btn-sm btn-primary rounded-0 bg-gradient" ><i class="fa fa-save"></i> Save</button>
                        </center>
                    </fieldset>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}  {% block ScriptBlock %}
<script>
  
    $(function() {
         $('table td, table th').addClass('px-2 py-1')
       
        $('input[name="attendance_date"]').change(function() {      
            newUrl="{% url 'attendance-page'  class.pk class.assigned_section.id class.assigned_faculty.id %}/" + $(this).val()
            
            location.href = newUrl        
        })
        $('a[name="attendance_download"]').click(function() {     
            d=window.location.href.split('/')[window.location.href.split('/').length -1]
            newUrl="{% url 'printattendance'  class.pk class.assigned_section.id class.assigned_faculty.id %}/" + d
            window.open(newUrl,'_blank');
            

        })
        
    })
       
</script>
{% endblock ScriptBlock %}